# change values and rename this file to config.py
fauser = "fauser"
fapass = "fapass"
matchwithimdb=True
backuptoimdb = False
imdb_user = "imdb_user"
imdb_password = "imdb_password"
# alg1 or mergestrict
algorithm='mergestrict'
