# Change values and rename this file to config.py

# You can find your user_id by checking your ratings URL:
# http://www.filmaffinity.com/es/userratings.php?user_id=XXXXXXXX
fauser_id = "XXXXXXXX"

# Optional: only if fauser_id is not set
fauser = "fa_user"
fapass = "fa_password"
